@{
    ViewData["Title"] = "Sign Up Page";
}

@model SignUpGenius.Models.FormModel

<div>
    <h1>Sign Up Here!</h1>
</div>
<br />
<!-- <link href="~/css/styles.css" rel="stylesheet" /> -->

<div>
    <h4>Choose your time slot:</h4><br />

    <!-- Form to type in and submit movies to collection -->
    <form asp-action="SignUpPage" method="post">
        <div class="form-row">
            <div class="col-sm-2">
                <input type="radio" name="time" id="eight" value="8:00 A.M." asp-for="Time">   <label for="eight">8:00 A.M.</label><br>
                <input type="radio" name="time" id="nine" value="9:00 A.M." asp-for="Time">    <label for="nine">9:00 A.M.</label><br>
                <input type="radio" name="time" id="ten" value="10:00 A.M." asp-for="Time">    <label for="ten">10:00 A.M.</label><br>
                <input type="radio" name="time" id="eleven" value="11:00 A.M." asp-for="Time"> <label for="eleven">11:00 A.M.</label><br>
            </div>
            <div class="col-sm-2">
                <input type="radio" name="time" id="twelve" value="12:00 P.M." asp-for="Time"> <label for="twelve">12:00 P.M.</label><br>
                <input type="radio" name="time" id="one" value="1:00 P.M." asp-for="Time">     <label for="one">1:00 P.M.</label><br>
                <input type="radio" name="time" id="two" value="2:00 P.M." asp-for="Time">     <label for="two">2:00 P.M.</label><br>
                <input type="radio" name="time" id="three" value="3:00 P.M." asp-for="Time">   <label for="three">3:00 P.M.</label><br>
            </div>
            <div class="col-sm-2">
                <input type="radio" name="time" id="four" value="4:00 P.M." asp-for="Time">    <label for="four">4:00 P.M.</label><br>
                <input type="radio" name="time" id="five" value="5:00 P.M." asp-for="Time">    <label for="five">5:00 P.M.</label><br>
                <input type="radio" name="time" id="six" value="6:00 P.M." asp-for="Time">     <label for="six">6:00 P.M.</label><br>
                <input type="radio" name="time" id="seven" value="7:00 P.M." asp-for="Time">   <label for="seven">7:00 P.M.</label><br>
            </div>
            <div class="col-sm-2">
                <input type="radio" name="time" id="eight" value="8:00 P.M." asp-for="Time">   <label for="eight">8:00 P.M.</label><br>
            </div>
        </div>
        <br />
        <button type="submit" id="submit1" class="btn btn-primary">Submit</button>
    </form>
</div>