@{
    ViewData["Title"] = "Sign Up Page";
}

@model SignUpGenius.Models.FormModel

<div>
    <h1>Confirm Your Sign Up!</h1>
    <p>Fill out this form to confirm your Layton Utah Temple Tour</p>
</div>
<br />

<!-- <link href="~/css/styles.css" rel="stylesheet" /> -->

<!-- Form to type in and submit movies to collection -->
<form asp-action="SignUpForm" method="post">
    <div>
        <div class="form-group row">
            <label asp-for="Time" class="col-sm-2 col-form-label">Time Slot:</label>
            <input type="text" asp-for="Time" value="@Model.Time" class="col-sm-3 form-control-plaintext" readonly />
        </div>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label">Name of Group:</label>
            <input asp-for="Name" class="col-sm-3 form-control" />
        </div>
        <div class="form-group row">
            <label asp-for="Size" class="col-sm-2 col-form-label">Size of Group:</label>
            <input asp-for="Size" class="col-sm-3 form-control" placeholder="" />
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label">Email Address:</label>
            <input asp-for="Email" class="col-sm-3 form-control" placeholder="email@example.com" />
        </div>
        <div class="form-group row">
            <label asp-for="Phone" class="col-sm-2 col-form-label">Phone Number:</label>
            <input asp-for="Phone" class="col-sm-3 form-control" placeholder="123-456-7890 (Optional)" />
        </div>
    </div>

    <br />
    <button type="submit" id="submit2" class="btn btn-primary">Submit</button>

    <br /><br />
    <!-- <div asp-validation-summary="All" style="color:red"></div> -->
</form>